
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>MPAS-Analysis Diagnostics: @runName</title>


  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css'>

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <div class="content">
    <div class="header">
      <img class="logo" src="mpas_logo.png" height="120">
      <h1>MPAS-Analysis Diagnostics</h1>
      <h3>Run: @runName @controlRunText</h3>
    </div>

    <div class="gallery-title">
    <h2>Components</h2>
    </div>

@components

    <div class="provenance-title">
    <h2>Provenance: MPAS-Analysis Configuration File</h2>
    </div>

    <div class="gallery-link component">
      <a target="_blank" href="config.@runName">
        <img class="component" src="config.png" alt="config.@runName">
      </a>
      <div class="desc">Configuration File</div>
    </div>

</body>
</html>
